button
{
    background-color:green;
    color:white;
}
#para1
{
    color :hotpink;
    font-style: italic;
    font-variant-position: super;
}
#para2
{
    color:indigo;
    font-style: initial;
     background-color: yellow;
}
.content
{
   Color:lightblue;
   background-color: mediumaquamarine;
}
div{
    height:400px;
    width:800px;
    color:white;
    background-color: green;
    margin-left:35px;
    margin-top:24px;
    padding-top:30px;
    padding-left:50px;
}
