button
{
    background-color:green;
    color:white;
}
#para1
{
    color :hotpink;
    font-style: italic;
    font-variant-position: super;
}
#para2
{
    color:indigo;
    font-style: initial;
     background-color: yellow;
}
.content
{
   Color:lightblue;
   background-color: mediumaquamarine;
}