button
{
    background-color:green;
    color:white;
}
#para1
{
    color :hotpink;
    font-style: italic;
    font-variant-position: super;
}
#para2
{
    color:indigo;
    font-style: initial;
     background-color: yellow;
}
.content
{
   Color:lightblue;
   background-color: mediumaquamarine;
}
.outerbox{
    border:1px;
    border-color:red;
    background:rgb(51, 30, 170);
    color:#fff;
    width:300px;
    height:200px;

}
.box{
    margin-left:100px;
    padding:50px;
}
.inner-div{
    margin:10px;
    background:orange; 
    width:200px;
    height:100px;
    
}

